.fornecedor{    
    background-color: rgb(240, 240, 240);
    transition: .1s ease-in-out;          
}

.fornecedor:hover{
    background-color: rgb(144, 144, 144);
    transition: .1s ease-in-out;
    cursor: pointer;
}

th{
    text-align: start;
}

.fornecedor td{        
    padding: 10px;            
}


.fornecedor:hover td{
    color: rgb(255, 255, 255);
}

table{
    padding: 50px;
    background-color: white;
    box-shadow: 5px 10px 10px #00000026;
    border-radius: 20px;
}